.App {
  text-align: center;
}

/* Обнуляющий стиль */
* {
  padding: 0;
  margin: 0;
  border: 0;
 box-sizing: border-box;
}
*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  list-style-type: none;
}

input,
button,
textarea {
  font-family: inherit;
  
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
  text-decoration: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/* ---------Конец обнуляющего стиля  */

/* шрифт кирилица &subset=cyrillic-ext */

  html,
  body {
    font-size: 14px;
    color: white;
    font-family: "Roboto Slab";
    font-style: normal;
  }
  main {
    flex: 1 1 auto;
  }
  .wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #583939;
    font-size: 22px;
  }
  
  ._container {
    max-width: 1330px;
    margin: 0 auto;
    box-sizing: content-box;
    padding: 0px 15px;
  }

  .article-text{
    background-color: #583939;
    
  } 

